.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.tile img {
  width: 60px;
}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.active {
  background-color: pink !important;
}
.highlight:before {
  content: "\2BC1";
  font-size: 20px;
  opacity: 0.4;
  position: absolute;
  padding-left: 42px;
  padding-top: 35px;
}
.highlight {
  background-color: rgb(150, 0, 125);
}
