#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: #7899b0;
  width: 800px;
  height: 800px;
}

#captured {
  background-color: pink;
  height: auto;
  display: flex;
  flex-direction: row;
}

.captured-piece {
  background-color: rgb(255, 255, 255);
  border: 4px solid #ccc;
}
